@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
    background: url(assets/robot_PNG76.png), -webkit-linear-gradient(90deg, rgb(31, 118, 14), rgb(247, 248, 250));
    background: url(assets/robot_PNG76.png), linear-gradient(90deg, rgb(31, 118, 14), rgb(247, 248, 250));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.content {
    max-width: calc(100% - 800px);
    min-width: fit-content;
    background-color: rgba(255,255,255,0.7);
    border: 3px solid white;
    padding: 2rem;
    margin: auto 2rem;
    border-radius: 1rem;
    box-shadow: #CCC 10px 10px 25px;
    background: linear-gradient(90deg, rgb(247, 248, 250), rgb(31, 88, 14), 0.5);
    color: #000;
    text-shadow: whitesmoke 2px 2px;
    font-family: 'Comfortaa', cursive;
}

#backlink {
    border: 2px solid white;
    background-color: orangered;
    border-radius: 0.5em;
    padding: 0.5em; 
    width: fit-content;
    box-shadow: #333 4px 4px 9px;
}

#backlink:hover {
    background-color:  rgb(255, 0, 0, 0.95);
    box-shadow: #333 8px 8px 15px;

}

#backlink a {
    color: white;
    text-shadow: none;
    font-weight: 900;
    text-decoration: none;
}